/* css stylesheet */


.heading {
    position: absolute;
    top: 0;
    width: 100%;
    /* Set the fixed height of the header here */
    /* height: 60px; */
    /* line-height: 60px; Vertically center the text there */
    background-color: #e9ecef;
    /* font-size: 12px;
    color: gray;
    text-align: center;
    vertical-align: center; */
    padding: 0px 0px 15px 55px;
    margin-bottom: 20px;
}


.porkyImg {
    height: 500px;
    width: auto;
    border: 5px solid #520808;
    margin-top: 50px;
    margin-bottom: 50px; 
    margin-left: 50px;
}
.crystalImg {
    height: 250px;
    width: 250px;
    border: 5px solid #7f8081;
    margin-bottom: 50px;
    opacity: 50%; 
}

#blue,#red{
    text-align:right;
}
#green, #purple{
    text-align:left;
}
.winLose {
    font-weight: bold;
    font-size: 24px;
}

.crystal,
.total {
    font-weight: bold;
    font-size: 20px;
}
#winLoseMsg{
    color: red;
    font-weight: bold;
    font-size: 24px;
}

.blueImg,
.greenImg,
.redImg,
.purpleImg {
    height: 150px;
    width: 150px;
}

.playAgain{
    padding: 30px;
    color: red;
    font-weight: bold;
}
.affix-bottom {
    bottom: 0px;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    /* line-height: 60px; Vertically center the text there */
    background-color: #e9ecef;
    font-size: 12px;
    color: gray;
    text-align: center;
    vertical-align: center;
    padding: 15px;
    margin-top: 20px;
}