/* css stylesheet */

.heading {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #e9ecef;
    padding: 0px 0px 15px 55px;
    margin-bottom: 20px;
}
.porkyImg {
    height: 500px;
    width: auto;
    border: 5px solid #520808;
    margin-top: 50px;
    margin-bottom: 10px; 
    margin-left: 50px;
}
.porkyAudio{
    margin-left: 50px;
    margin-bottom: 10px; 
} 
}
.crystalImg {
    height: 250px;
    width: 250px;
    border: 5px solid #7f8081;
    margin-bottom: 50px;
    opacity: 50%; 
}
#blue,#red{
    text-align:right;
    padding: 5px;
}
#green, #purple{
    text-align:left;
    padding: 5px;
}
.winLose {
    font-weight: bold;
    font-size: 24px;
}
.crystal,
.total {
    font-weight: bold;
    font-size: 20px;
}
.winLoseMsg{
    color: red;
    font-weight: bold;
    font-size: 24px;
}
.blueImg,
.greenImg,
.redImg,
.purpleImg {
    height: 150px;
    width: 150px;
}
.playAgain{
    padding: 30px;
    color: red;
    font-weight: bold;
}
.affix-bottom {
    bottom: 0px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #e9ecef;
    font-size: 12px;
    color: gray;
    text-align: center;
    vertical-align: center;
    padding: 15px;
    margin-top: 20px;
}


/* 
/* MEDIA TAGS */

@media screen and (max-width: 980px) {
.porkyImg {
    height: 350px;
}
.crystalImg {
    height: 250px;
    width: 250px;
    margin: 0px 0px 0px 10px;
}
#blue,#red{
    text-align:left;
    margin: 0px 0px 15px 0px;
}
#green, #purple{
    text-align:left;
    margin: 0px 0px 15px 0px;
}
.crystal,
.total {
    margin: 0px 0px 0px 20px;
}
.blueImg,
.greenImg,
.redImg,
.purpleImg {
    height: 115px;
    width: 115px;
}   
}

@media screen and (max-width: 768px) {
.porkyImg {
    height: 250px;
} 
.crystalImg {
    height: 100px;
    width: 100px;
    margin: 0px 0px 0px 10px;
}
#blue,#red{
    text-align: none;
    margin: 0px 0px 0px 0px;
}
#green, #purple{
    text-align: none;
    margin: 0px 0px 0px 0px;
}
.winLose {
    font-size: 14px;
}
.crystal,
.total {
    font-size: 14px;
    margin: 0px 0px 0px 10px;
}
#winLoseMsg{
    font-size: 18px;
}
.blueImg,
.greenImg,
.redImg,
.purpleImg {
    height: 55px;
    width: 55px;
}
.affix-bottom {
    bottom: 0px;
}
.footer {
    position: relative;
    height: 45px;
}    
}

@media screen and (max-width: 640px) {
    .porkyImg {
        height: 250px;
    } 
    .crystalImg {
        height: 100px;
        width: 100px;
        margin: 0px 0px 0px 10px;
    }
    #blue,#red{
        text-align: none;
        margin: 0px 0px 0px 0px;
    }
    #green, #purple{
        text-align: none;
        margin: 0px 0px 0px 0px;
    }
    .winLose {
        font-size: 14px;
    }
    .crystal,
    .total {
        font-size: 14px;
        margin: 0px 0px 0px 10px;
    }
    #winLoseMsg{
        font-size: 18px;
    }
    .blueImg,
    .greenImg,
    .redImg,
    .purpleImg {
        height: 55px;
        width: 55px;
    }
    .affix-bottom {
        bottom: 0px;
    }
    .footer {
        position: relative;
        height: 45px;
    }     
    }